*{
    margin: 0;
    padding: 0;
}
body{
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    margin: 0 auto;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*navigation-start*/
.nav-header{
    display: flex;
    flex-direction: row;
    gap:2.5rem;
}
.nav-buton{
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}
.Add-cont-img{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}
.extra1{
    text-decoration: none;
    color: #fff;
}
/*navigation-end*/
/*Home section start*/
.Home-section{
    background: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: #000;
}
.Home-section:hover{
    background: #e1dcdc;
}
.Home-button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Home-section-maindiv{
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.profile-pic{
    font-size: 80px;
}
.Home-section-Name p{
    font-size: 18px;
    margin-top: 13px;
}
.Home-section-arrow2{
    font-size: 27px;
    margin-top: 30px;
    margin-left: 40px;
    color:#000;
}
.Home-section-arrow{
    display: flex;
    flex-direction: row;
}
.extra{
    text-decoration: none;
    color: #000;
}
/*Home section end*/


/*media query*/
@media screen and (max-width: 700px){
    body{
        padding: 0px;
    }
    /*navigation-start*/
    .nav-header{
        margin-top: 20px;
        margin-left: 35px;
        gap: 3rem;
    }
    /*navigation-end*/
    /*Home section start*/
   
    .Home-section-maindiv{
        padding: 5px;
        flex-direction: row;
        gap: 0.5rem;
    }
    .profile-pic{
        font-size: 50px;
    }
    .Home-section-Name p{
        font-size: 16px;
        margin-top: 5px;
    }
    .Home-section-arrow2{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 40px;
        color:#000;
    }
    
    /*Home section end*/
}

/*media query*/