*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* nav start */
nav{
    padding: 20px;
    background-color: rgb(8, 157, 173);
    color: rgb(243, 244, 220);
    display: flex;
    font-weight: bold;
    gap: 5px;
}
.nav-txt{
    font-size: 18px;  
}
.nav-img{
    font-size: 22px;
}
/* nav end */
.text{
    color: rgb(8, 157, 173);
    background: rgb(243, 244, 220);
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.text-img{
    font-size: 22px;
    margin-top: 2px;
}
hr{
    color: #089dad;
    border: 1px solid #089dad;
}
/* section-start */
section{
    display: flex;
    background: #f3f4dc;
}
.section-left{
    background: #089dad;
    color: #f3f4dc;
    padding: 35px;
    width: 250px;
    height: 530px;
    text-align: center;
}
.section-left-img{
    width: 80px;
    height: 90px;
}
.form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.section-left-form-input{
    padding: 7px;
    width: 150px;
    height: 25px;
    background: #f3f4dc;
    color: #089dad;
    border: #089dad;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}
.save-btn{
    background: #f3f4dc;
    color: #089dad;
    border: #089dad;
    width: 70px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}
.section-right{
    background: #f3f4dc;
    color: #089dad;
    display: flex;
    flex-direction: row;
}
.save-btn1{
    color: #f3f4dc;
    background: #089dad;
    border: none;
    width: 200px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    margin-left: 10px;
}
.section-right-contacts{
    
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 1150px;
    font-size: 18px;
}
.contact-1{
    display: flex;
    width: 200px;
    gap: 3rem;
    /* align-items: center; */
    margin: 0 auto;
}
.contact-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-left: 600px;
    gap: 3rem;
    margin: 0 auto;
}
.c1,.c2,.c3{
    width: 30px;
}
.c2,.c3{
    margin-left: 150px;
}
#table{
    display: flex;
    flex-direction: column;    
}
.edit-btn{
    border: none;
    background: none;
    color: #089dad;
    font-size: 24px;
    cursor: pointer;
}

/* section-end */


@media screen and (max-width: 700px){
    /*section start*/
    .section-left{
        padding: 20px;
        width: 345px;
        height: 350px;
    }
    .form{
        gap: 0.5rem;
    }
    .section-left-img{
        width: 65px;
        height: 70px;
    }
    section{
        flex-direction: column;
    }
    .section-right-contacts{
        margin-left: 1px;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        padding: 20px;
        width: 300px;
        font-size: 16px;
    }
    .contact-1{
        flex-direction: row;
        width: fit-content;
        gap: 10px;
    }
    .contact-2{
        flex-direction: row;
        margin-left: 14px;
        margin-top: 1px;
        gap: 0.5rem;
    }
    .c1,.c2,.c3{
        width: fit-content;
    }
    .c2,.c3{
        margin-left: 0px;
    } 
    .edit-btn{
        
        font-size: 20px;
    }
    /*section end*/
}

