*{
    margin: 0;
    padding: 0;
}
body{
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 150px;
    margin: 0 auto;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Home section start*/
.contact-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}
.Home-section{
    background: #fff;
    padding: 30px;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.input-field{
    width: 210px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
}
.save-btn{
    width: 70px;
    height: 30px;
    font-size: 17px;
}


/*Home section end*/



/*Home section start*/
.Home1-section{
    background: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    color: #000;
}
.Home1-section:hover{
    background: #e1dcdc;
}
.Home1-button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Home1-section-maindiv{
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.profile1-pic{
    font-size: 80px;
}
.Home1-section-Name p{
    font-size: 18px;
    margin-top: 13px;
}
.Home1-section-arrow2{
    font-size: 27px;
    margin-top: 30px;
    margin-left: 40px;
    color:#000;
}
.Home1-section-arrow{
    display: flex;
    flex-direction: row;
}
.extra1{
    text-decoration: none;
    color: #000;
}
/*Home section end*/



/*media query*/
@media screen and (max-width: 700px){
    body{
        padding: 50px;
    }
    /*Home section start*/
    .Home-section{
        padding: 10px;
        margin-top: 30px;
    }
    
    
    /*Home section end*/
}

/*media query*/